body
{
    background-color: green;
    font-family: "Helvectics", sans-serif;
}
h1 {
    color:gray;
    font-family: 'Times New Roman', serif;
}
nav ul {
    background-color: rgb(226, 12, 12);
    border: solid 2px seashell;
    padding: 15px;
    border-radius: 10px;
}
nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    margin-left: 10px;
    color: PapayaWhip;
}

nav ul li a {
    text-decoration: none;
    color: black;
}
.blue{
    background-color: blue;
    color: azure;
    padding: 8px;
}
.red {
    background-color:red;
    color: azure;
    padding: 8px;
}
.green{
    background-color: green;
    color: azure;
    padding: 8px;
}

mark{
    background-color: rgb(215, 147, 19);
}

img{
    margin: 20px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
}
img:hover {
    border: 2px dashed navy;
}

article{
    border-radius: 10px;
    background-color: rgb(127, 255, 253);
    padding: 20px;
}
.sectionSpacing {
    padding: 10px;
    margin-top: 20px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
p {
    color: red;
}
h2 {
    color: slateblue;
}

.solid {
    border-top: 2px solid #fff ;
    
    
}
